@inherits LayoutComponentBase
<style>
    .top-row {
        background: #017165 !important;
    }
</style>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <img src="./icon.png" width="40" height="40" style="margin: 0 auto;" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
