<style>
    .navbar {
        background: #017165 !important;
    }
    .nav-scrollable {
        background: #08ab9a !important;
    }
</style>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OSR Web - V 1.0 </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ready">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ready
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="discounting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Discounting
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="forward">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Forward
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Setoff">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Setoff
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Closeout">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Closeout
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
