@page "/"
@inject NavigationManager navigation
<PageTitle>Dashboard</PageTitle>

<h1>Reporting Filters</h1>

<div class="row">
    <div class="col-md-2">Deal Number</div>
    <div class="col-md-4">
        <input  class="form-control" @bind="dealNumber" />
    </div>
    <div class="col-md-2">To</div>
    <div class="col-md-4">
        <input class="form-control" @bind="dealNumber" />
    </div>
</div>

<div class="row">
    <div class="col-md-2">Entry Date From</div>
    <div class="col-md-4">
        <InputDate  @bind-Value="entryDateFrom" />
    </div>
    <div class="col-md-2">To</div>
    <div class="col-md-4">
        <InputDate  @bind-Value="entryDateTo" />
    </div>
</div>

<div class="row">
    <div class="col-md-2">Contact Date From</div>
    <div class="col-md-4">
        <InputDate  @bind-Value="contactDateFrom" />
    </div>
    <div class="col-md-2">To</div>
    <div class="col-md-4">
        <InputDate  @bind-Value="contactDateTo" />
    </div>
</div>

<div class="row">
    <div class="col-md-2">Value Date From</div>
    <div class="col-md-4">
        <InputDate  @bind-Value="valueDateFrom" />
    </div>
    <div class="col-md-2">To</div>
    <div class="col-md-4">
        <InputDate  @bind-Value="valueDateTo" />
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-md-2">Group By</div>
    <div class="col-md-10">
        <div class="form-check">
            <InputRadioGroup @bind-Value="groupBy">
            Portfolio : <InputRadio Value="portfolio">
                <label class="form-check-label">Portfolio</label>
            </InputRadio>
            Currency : <InputRadio Value="currency">
                <label class="form-check-label">Currency</label>
            </InputRadio>
            DealNumber : <InputRadio Value="dealNumber">
                <label class="form-check-label">DealNumber</label>
            </InputRadio>
            </InputRadioGroup>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-2">Branch Code</div>
    <div class="col-md-10">
        <select class="form-control" @bind="branchCode">
            <option value="">Select Branch Code</option>
            <!-- Add other branch codes here -->
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-2">Currency</div>
    <div class="col-md-10">
        <select class="form-control" @bind="currency">
            <option value="">Select Currency</option>
            <!-- Add other currency options here -->
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-2">Portfolio</div>
    <div class="col-md-10">
        <select class="form-control" @bind="portfolio">
            <option value="">Select Portfolio</option>
            <!-- Add other portfolio options here -->
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-2">Trader</div>
    <div class="col-md-10">
        <select class="form-control" @bind="trader">
            <option value="">Select Trader</option>
            <!-- Add other trader options here -->
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-2">Customer</div>
    <div class="col-md-10">
        <select class="form-control" @bind="customer">
            <option value="">Select Customer</option>
            <!-- Add other customer options here -->
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-2">Purchase/Sale</div>
    <div class="col-md-10">
        <select class="form-control" @bind="ps">
            <option value=""></option>
            <!-- Add other purchase/sale options here -->
        </select>
    </div>
</div>

<button class="btn btn-primary" @onclick="GenerateReport">Generate Report</button>

@code {
    bool dealNumber;
    DateTime entryDateFrom = DateTime.Now;
    DateTime entryDateTo = DateTime.Now;
    DateTime contactDateFrom = DateTime.Now;
    DateTime contactDateTo = DateTime.Now;
    DateTime valueDateFrom = DateTime.Now;
    DateTime valueDateTo = DateTime.Now;
    bool branchCode, currency, portfolio, trader, customer, ps;
    string groupBy;

    private void GenerateReport()
    {
        navigation.NavigateTo("/ready");
    }
}
